body {
    background: #333;
}

div {
	margin-bottom: 1rem;
	margin-top: 1rem;
}

img {
    display: block;
    max-width: 75%;
    margin-left: auto;
	margin-right: auto;
	box-shadow: 0 0 25px #000;
	-webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
 
@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
 
.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

.game-grid {
	display: grid;
	grid-gap: 1rem;
	width: 50%;
	margin: auto auto auto;
	-webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.button {
	background-color: #fff;
	border-color: #ccc;
}

h1 {
	text-align: center;
}

#refresh-btn {
	display: block;
	margin: auto auto auto;
}