.show {
	opacity: 1;
	transition: opacity 1000ms;
}

.hide {
	opacity: 0;
	transition: opacity 1000ms;
}
  
.center {
	margin: auto auto auto;
	position: relative;
	top: 25%;
	bottom: 25%;
}

body {
    background: #476a8e;
}

.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
}

#begin_quiz {
	display: flex;
	width: 50%;
	margin: auto auto auto;
	background-color: #8c8c8c;
	border-color: #000;
	border-style: solid;
	border-width: 0.1;
	border-radius: 4px;
	color: #FFF;
	padding: 1rem 3rem;
	font-size: 1rem;
	font-weight: 500;
	align-items: center;
	justify-content: center;
	transition: background-color 0.3s ease-out 0s;
}

#begin_quiz:hover {
	background-color: #707070;
}

div {
	margin-bottom: 1rem;
	margin-top: 1rem;
}

form {
	padding-top: 1rem;
}

.game-section {
	-webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.plane {
    display: block;
    max-width: 95%;
    margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
	box-shadow: 0 0 25px #000;
}

.game-grid {
	display: grid;
	grid-gap: 1rem;
	margin: 1rem auto 1rem;
}

.score-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1rem;
	margin: 1rem auto 1rem;
}

.answer_button {
	width: 50%;
	margin: auto auto auto;
	background-color: #8c8c8c;
	border-color: #000;
	border-style: solid;
	border-width: 0.1;
	border-radius: 4px;
	color: #FFF;
	padding: 1rem 3rem;
	font-size: 1rem;
	font-weight: 500;
	transition: background-color 0.3s ease-out 0s;
}

button:hover {
	background-color: #707070;
}

#score {
	background-color: #1D364C;
	color: #FFF;
	border-style: solid;
	border-color: #1D364C;
	border-width: 0.1;
	border-radius: 4px;
	font-size: 1rem;
	font-weight: 300;
	padding: 1rem 1rem;
	margin: auto auto auto;
	text-align: center;
	width: 30%;
}

#next_plane {
	opacity: 0;
	display: flex;
	margin: auto auto auto;
	align-items: center;
	justify-content: center;
	padding: auto auto;
	width: 30%;
	background-color: #8c8c8c;
	border-color: #000;
	border-style: solid;
	border-width: 0.1;
	border-radius: 4px;
	color: #FFF;
	padding: 1rem 3rem;
	font-size: 1rem;
	font-weight: 500;
	transition: background-color 0.3s ease-out 0s;
}

#next_plane:hover {
	background-color: #707070;
}

#next_plane.show {
	opacity: 1;
	transition: opacity 1s;
}