<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="/static/scripts.js"></script>
	<script type="text/javascript">

		var images = {{ images | tojson }};
		var data = {{ data | tojson }}
		var image_index = 0
		var correct_guesses = 0;

		var aircraftTrue = images[image_index].split('_')[0];
		var link = data[images[image_index].split('.')[0]][1];
		var copyright = data[images[image_index].split('.')[0]][2];
		var planeTypes = [... new Set(images.filter(function(x) {
			if (x.split('_')[0] === aircraftTrue) {
				return false;
			} else {
				return true;
			}
		}).map(function(x, i, a) {
			return x.split('_')[0];
		}))];

		var aircraftFalse = shuffleArray(planeTypes).slice(0,3);
		var choices = shuffleArray(aircraftFalse.concat(aircraftTrue));
		var answer1 = choices[0];
		var answer2 = choices[1];
		var answer3 = choices[2];
		var answer4 = choices[3];

	</script>
</head>
<body>
	<section class="game-grid">
		<img src="{{ url_for('static', filename='logo.png') }}" class="logo"/>
	</section>
	<section class="game-section">
		<div class="img-container">
			<a id="link" href="" target="_blank"><img id='image' class="plane"/></a><br/>
		</div>
		<div class="game-grid">
			<button class="answer_button" id="answer-1" onClick="getAnswer('answer-1')"></button>
			<button class="answer_button" id="answer-2" onClick="getAnswer('answer-2')"></button>
			<button class="answer_button" id="answer-3" onClick="getAnswer('answer-3')"></button>
			<button class="answer_button" id="answer-4" onClick="getAnswer('answer-4')"></button>
		</div>
		<div class="score-grid">
			<p id="score"></p>
			<button type="submit" id="next_plane">next</button>
		</div>
	</section>
	<script>

		document.getElementById("next_plane").disabled = true;
		document.getElementById('image').src = "static/images/" + images[image_index];
		document.getElementById('link').href = "https://www.planespotters.net/" + link;
		document.getElementById('link').insertAdjacentText("beforeend", copyright);
		document.getElementById('answer-1').innerHTML = answer1;
		document.getElementById('answer-2').innerHTML = answer2;
		document.getElementById('answer-3').innerHTML = answer3;
		document.getElementById('answer-4').innerHTML = answer4;
		document.getElementById("score").innerHTML = correct_guesses + "/" + image_index;

		document.getElementById('answer-1').setAttribute("value", answer1);
		document.getElementById('answer-2').setAttribute("value", answer2);
		document.getElementById('answer-3').setAttribute("value", answer3);
		document.getElementById('answer-4').setAttribute("value", answer4);

		var nextPlane = document.getElementById("next_plane");
		nextPlane.addEventListener("click", function() {
			document.getElementById("next_plane").disabled = true;
			document.getElementById('image').nextSibling.remove();
			image_index++;
			aircraftTrue = images[image_index].split('_')[0];
			link = data[images[image_index].split('.')[0]][1];
			copyright = data[images[image_index].split('.')[0]][2];
			planeTypes = [... new Set(images.filter(function(x) {
				if (x.split('_')[0] === aircraftTrue) {
					return false;
				} else {
					return true;
				}
			}).map(function(x, i, a) {
				return x.split('_')[0];
			}))];

			aircraftFalse = shuffleArray(planeTypes).slice(0,3);
			choices = shuffleArray(aircraftFalse.concat(aircraftTrue));
			answer1 = choices[0];
			answer2 = choices[1];
			answer3 = choices[2];
			answer4 = choices[3];

			document.getElementById('image').src = "static/images/" + images[image_index];
			document.getElementById('link').href = "https://www.planespotters.net/" + link;
			document.getElementById('link').insertAdjacentText("beforeend", copyright);
			document.getElementById('answer-1').innerHTML = answer1;
			document.getElementById('answer-2').innerHTML = answer2;
			document.getElementById('answer-3').innerHTML = answer3;
			document.getElementById('answer-4').innerHTML = answer4;

			document.getElementById('answer-1').setAttribute("value", answer1);
			document.getElementById('answer-2').setAttribute("value", answer2);
			document.getElementById('answer-3').setAttribute("value", answer3);
			document.getElementById('answer-4').setAttribute("value", answer4);

			for (var i=0; i < document.getElementsByClassName("answer_button").length; i++) {
				document.getElementsByClassName("answer_button")[i].disabled = false;
				document.getElementsByClassName("answer_button")[i].style.backgroundColor = "";
			}
			
			document.getElementById('next_plane').classList.toggle("show");
			document.getElementById("score").innerHTML = correct_guesses + "/" + image_index;
		})

	</script>
</body>