<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript">
		function getAnswer(answer) {
			var guess = document.getElementById(answer).getAttribute('value');
			var aircraftTrue = "{{ aircraft_true }}";
			if (guess == aircraftTrue) {
				document.getElementById(answer).style.backgroundColor = "green";
				$("#next_plane").fadeIn();
			} else {
				document.getElementById(answer).style.backgroundColor = 'red';
				for (var i=0; i < document.getElementsByTagName('button').length; i++) {
					if (document.getElementsByTagName('button')[i].innerHTML == aircraftTrue) {
						document.getElementsByTagName('button')[i].style.backgroundColor = 'green';
						$("#next_plane").fadeIn();
					};
				};
			};
		};
	</script>
</head>
<body>
	<img src="{{ url_for('static', filename='logo.png') }}" class="logo"/>
	<section class="game-section fadeIn">
		<div class="game-image">
			<img src="{{ image }}" class="plane"/>
		</div>
		<form method='post' action='/quiz' class="game-grid">
			<button type="submit" id="answer-1" value="{{ answer_1 }}" onClick="getAnswer('answer-1')">{{ answer_1 }}</button>
			<button type="submit" id="answer-2" value="{{ answer_2 }}" onClick="getAnswer('answer-2')">{{ answer_2 }}</button>
			<button type="submit" id="answer-3" value="{{ answer_3 }}" onClick="getAnswer('answer-3')">{{ answer_3 }}</button>
			<button type="submit" id="answer-4" value="{{ answer_4 }}" onClick="getAnswer('answer-4')">{{ answer_4 }}</button>
			<button type="submit" id="next_plane">...next plane...</button>
		</form>
	</section>
</body>