<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="/static/scripts.js"></script>
	<script type="text/javascript">

		var images = {{ images | tojson }};
		var image_index = 0
		var aircraftTrue = images[image_index].split('_')[0];
		var planeTypes = [... new Set(images.filter(function(x) {
			if (x.split('_')[0] === aircraftTrue) {
				return false;
			} else {
				return true;
			}
		}).map(function(x, i, a) {
			return x.split('_')[0];
		}))];

		var aircraftFalse = shuffleArray(planeTypes).slice(0,3);
		var choices = shuffleArray(aircraftFalse.concat(aircraftTrue));
		var answer1 = choices[0];
		var answer2 = choices[1];
		var answer3 = choices[2];
		var answer4 = choices[3];
		var correct_guesses = 0;

	</script>
</head>
<body>
	<section class="game-grid">
		<img src="{{ url_for('static', filename='logo.png') }}" class="logo"/>
		<p id="score"></p>
	</section>
	<section class="game-section">
		<div class="game-grid">
			<img id='image' class="plane"/>
		</div>
		<div class="game-grid">
			<button class="answer_button" id="answer-1" onClick="getAnswer('answer-1')"></button>
			<button class="answer_button" id="answer-2" onClick="getAnswer('answer-2')"></button>
			<button class="answer_button" id="answer-3" onClick="getAnswer('answer-3')"></button>
			<button class="answer_button" id="answer-4" onClick="getAnswer('answer-4')"></button>
			<button type="submit" id="next_plane" onClick="nextPlane()">...next plane...</button>
		</div>
	</section>
	<script>

		document.getElementById('image').src = "static/images/" + images[image_index];
		document.getElementById('answer-1').innerHTML = answer1;
		document.getElementById('answer-2').innerHTML = answer2;
		document.getElementById('answer-3').innerHTML = answer3;
		document.getElementById('answer-4').innerHTML = answer4;
		document.getElementById("score").innerHTML = correct_guesses + "/" + image_index;

	</script>
</body>